{
  "ignoreFiles": [
    "./node_modules/**/*.scss",
    "./storybook/config/**/*.scss"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-recess-order",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "value-list-max-empty-lines": 2,
    "max-empty-lines": 2,
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 5,
    "no-descending-specificity": null,
    "order/properties-alphabetical-order": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["global"]
      }
    ],
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["util"]
      }
    ]
  }
}
