// ===================================================|
// General: SCAFFOLDING

// Document
//
// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// 2. Change the default font family in all browsers.
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 6. Change the default tap highlight to be completely transparent in iOS.

// -------------------------| Box model
*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

// -------------------------| Document
html {
  font-size: $base-font-size;

  @media screen and (max-width: map-get($roles-screens, 'min') - 1) {
    font-size: #{strip-unit(
        $base-font-size * 100 / map-get($roles-screens, 'min')
      )}vw;
  }
}

body {
  @include font-smoothing();

  -webkit-tap-highlight-color: rgba(
    map-get($swatches-colors-black, 'scol-base'),
    0
  );
  font: map-get($roles-typo-font-weights, 'body')
    map-get($roles-typo-font-sizes, 'body')
    unquote(map-get($roles-typo-font-families, 'body'));
  line-height: map-get($roles-typo-line-heights, 'body');
  color: map-get($roles-colors-texts, 'body');

  &,
  * {
    @include selection(
      light(map-get($swatches-colors-blue, 'scol-light'), 66%)
    );
  }
}

// -------------------------| Text
p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: map-get($roles-spaces, 'atoms');
  }
}

strong {
  font-weight: map-get($swatches-typo-font-weights, 'font-weight-bold');
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}

// -------------------------| Links
a {
  text-decoration: none;
  cursor: pointer;
}

// -------------------------| Images
img {
  pointer-events: none;
}

// -------------------------| Form elements
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

[type='checkbox'],
[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $roles-z-indexes-hidden-inputs;
  width: 0;
  height: 0;
  opacity: 0;
}

input,
textarea,
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none !important;
}

/* stylelint-disable */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  margin: 0;
}

// Mozilla specific
input[type='number'] {
  -moz-appearance: textfield !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type='file'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* stylelint-enable */

// -------------------------| States
:focus {
  outline: none;
}
