// ===================================================|
// Atoms: AVATAR

// -------------------------| Variables
$avatar-border-radius: map-get($swatches-border-radiuses, 'circle');

// -------------------------| Root
.root {
  @include dimensions-square($roles-size-avatar);

  display: inline-block;
  min-width: $roles-size-avatar;
  min-height: $roles-size-avatar;
}

// -------------------------| Avatar
.avatar {
  width: 100%;
  border-radius: $avatar-border-radius;
}
