// ===================================================|
// Placeholders: Grid

// -------------------------| Two columns grid
%grid-two-columns {
  column-count: 2;
  column-gap: $grid-gutter;
  margin-top: -($grid-gutter / 2);

  > * {
    @include padding-v($grid-gutter / 2);

    width: 100%;
    break-inside: avoid-column;
    page-break-inside: avoid; // For Firefox
  }

  @media screen and (max-width: map-get($swatches-breakpoints, 'm') - 1) {
    column-count: 1;
  }
}
