// ===================================================|
// Roles: SIZES

// -------------------------| Pickbox
$roles-size-pickbox: 24px;

// -------------------------| Icon
$roles-size-icon: 24px;

// -------------------------| Button
$roles-size-button-height: 36px;

// -------------------------| Avatar
$roles-size-avatar: 48px;

// -------------------------| Modal
$roles-size-modal-max-width: 500px;

// -------------------------| Tag
$tag-height: 36px;

// -------------------------| Auth forms
$roles-size-auth-form: 570px;

// -------------------------| Form elements
$roles-size-textfield-height: 24px;
